.products__title {
  color: var(--gray-900);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.products__list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 72px;
}

.products__list--item {
  width: 312px;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-100);
  padding: 16px;
  box-sizing: border-box;
}

.products__list--price {
  color: var(--brown-700);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 16px;
}

.products__list--price span {
  color: var(--gray-800);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: line-through;

}
.products__list--name {
  color: var(--gray-900);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products__list--name {
  color: var(--gray-900);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}

.product__tag {
  margin-top: 4px
}

.product__button {
  display: block;
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  background-color: var(--brown-100);
  color: var(--brown-900);
  border: 2px solid var(--brown-700);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}


.product__button:hover {
  background-color: var(--brown-500);
}

.product__button:active {
  background-color: var(--brown-900);
}


@media (max-width: 768px) {   
  .products__list {
    flex-wrap: nowrap;
    margin-bottom: 72px;
    overflow-x: auto;
  }
}